<%- include("header") -%>

<h2>This is the about page , Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem enim ut at, error
    voluptatum in voluptas natus alias doloribus accusamus veniam totam illo aspernatur perspiciatis pariatur laudantium
    voluptatem animi. Aperiam ipsa eum laboriosam maxime!</h2>


    <%- include("footer") -%>   
